# Copy this content to your .env file and add your password

LIME_SDK_USERNAME=armaan0oberai@gmail.com
LIME_SDK_PASSWORD=your_actual_password
LIME_SDK_CLIENT_ID=trading-app-dmo-c383
LIME_SDK_CLIENT_SECRET=4aa00156c97b4ba3952e81fa3e3d7159
LIME_SDK_GRANT_TYPE=password
LIME_SDK_BASE_URL=https://api.lime.co
LIME_SDK_AUTH_URL=https://auth.lime.co 